<div class="beer-card">
    <img src="{{image_url}}" alt="beer-can" class="beer-img">
    <p class="beer-name">{{name}}</p>
    <p class="beer-info">{{description}}</p>
    <p class="beer-tag">{{tagline}}</p>
</div>