<div id="home-page-layout">
    <img src="../images/beer.png" alt="">
    <a class="beer-button" href="/beers">Check the Beers!</a>
    <a class="beer-button" href="/random-beer">Check a Random Beer!</a>
</div>